body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1c1c1c; /* Fondo oscuro */
  color: #fff; /* Texto en color blanco */
}

h1 {
  color: #fff; /* Título en color blanco */
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  background-color: #333; /* Color de fondo más oscuro */
  border: none;
  color: #fff; /* Texto en color blanco */
}

#movieInfo {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Color de fondo más oscuro */
  border: 1px solid #555; /* Borde más oscuro */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra con un tono claro */
  text-align: left;
  color: #fff; /* Texto en color blanco */
}

#title,
#year,
#plot {
  margin: 10px;
  color: #fff; /* Texto en color blanco */
}
